
/** ADVERTS **/
.adverts-list {
    display: grid;
    flex-flow: row wrap;
    padding: 35px 25px;
}
.advert-card {
    margin: 15px 10px;
}

.adverts-continer .table.table-striped{
    width: 100%;
}

.item-list:hover {
    background-color: rgba(106, 209, 250, 0.705);
    cursor: pointer;
}
/** TAGS **/
.tag.is-success {
    margin-right: 10px;;
}
.tag.is-success:hover {
    background-color: rgba(62, 170, 99, 1);
}